.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #466C57;
  background-color: #cee4d8;
  padding: 0 2rem;
  height: 70px;

  &__title {
    font-size: 1.5rem;
    cursor: pointer;
  }

  &__list {
    display: flex;
    gap: 1.5rem;
    list-style: none;

    &-item {
      cursor: pointer;
      padding: 0.5rem 1rem;
      border-radius: 6px;
      transition: all 0.2s ease;

      &:hover {
        background-color: #EEFFF6;
        border-radius: 100rem;
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }
}
