// Global variables and mixins
@use "./variables";
@use "./fonts";

// Styles for individual pages
@use "./pages/contact";
@use "./pages/afspraak";
@use "./pages/overons";
@use "./pages/homepage";

// Styles for components
@use "./components/navbar";
@use "./components/footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// .page {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }

// .page__content {
//   flex: 1; /* duwt footer naar beneden bij korte content */
// }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif;
}
